html, body{
	width: 100%;
	height: 100%;
	background: url(background.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	text-align: center;
	font-family: "Raleway", sans-serif;
	color: white;
	vertical-align: middle;
}

hr {
	border-color: #82b74b;
	border-width: 3px;
	max-width: 65px;
	height: 15%;
	width: 25%;
	margin: auto;
}

.buffer{
	height: 5rem;
}
.btn {
	font-family: "Raleway";
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary{
	background-color: #82b74b;

}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}
.btn-xl {
	padding: 1rem 2rem;
}


